* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("hotelView.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #1b3b5d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: #142f4b;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}


.dashboard {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    text-decoration: none; 
    text-align: center;
    transition: all 0.3s ease;
}

.container:hover {
    text-decoration: none; 
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.logout-container {
    text-align: right;
    margin: 20px;
}