* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("hotelView.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logout-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #104377;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}


.logout-btn:hover {
    background-color: #17528d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}
.container a{
    text-decoration: none;
}